from peewee import SqliteDatabase

DATABASE = SqliteDatabase()

START_URLS = ('http://www.aau.dk',
              'http://www.insa-rennes.fr',
              'http://www.d8.tv',
              'https://www.facebook.com')

MAX_THREADS = 1

ROBOTS_TXT_CACHE = 60 * 5

USER_AGENT = 'LeFatCrawler'

MAX_PAGES_TO_CRAWL = 1000

LOG_FILE = 'crawl.log'
